# ignore definition for infrastructure project
# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*
# Ignore CLI configuration files
.terraformrc
terraform.rc

# Ignore idea settings
**/.idea/*
